<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./client/login.styles.css">
</head>
<body>

    <div class="section theme__color--default">
        <div class="section__area theme__color--default theme__outline--default">
            <form action="/login/createUser" method="post">

                <div class="section__heading">
                    <div class="section__title">Sign Up</div>
                </div>
                
                <div class="function-menu__shelf">
                    <div class="function-menu__group">
                        <input type="text" name="username" placeholder="Username" class="function-menu__input theme__color--default theme__outline--default">
                        <input type="password" name="password" placeholder="Password" class="function-menu__input theme__color--default theme__outline--default">
                        <input type="password" name="confirmPassword" placeholder="Confirm Password" class="function-menu__input theme__color--default theme__outline--default">
                    </div>
                    <div class="function-menu__divider"></div>
                    <div class="function-menu__group">
                        <input type="submit" value="Sign Up" class="section__button theme__color--delete">
                        <% if (isTaken) { %>
                            <div class="indicator indicator--invalid">
                                Username taken
                            </div>
                        <% } else if (notMatching) { %>
                            <div class="indicator indicator--invalid">
                                Passwords don't match
                            </div>
                        <% } else if (hasEmpty) { %>
                            <div class="indicator indicator--invalid">
                                Some fields are empty
                            </div>
                        <% } else { %>
                            <div class="indicator">
                                Enter password twice
                            </div>
                        <% } %>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>