<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link rel="stylesheet" href="./client/question.styles.css">
</head>
<body>

    <div class="section">
        <div class="section__area theme__color--default">
            <div class="section__heading">
                You do not have permission to view this page.
            </div>
            <a href="/">
                <div class="drop-down__toggle theme__outline--default theme__color--default">
                    Return to Dashboard
                </div>
            </a>
        </div>
    </div>

</body>
</html>