@use "../../assets/_Boilerplate.styles.scss";
@use "../../assets/_Themes.styles.scss";
@use "../../assets/DropDowns/_DropDown.styles.scss";
@use "../../assets/_DeleteButton.styles.scss";
@use "../../assets/Sections/_Section.styles.scss";
@use "../../assets/Functions/_Function.styles.scss";

.block__variable {
    background-color: #9eb0ff;
    color: white;
}
.block__operation {
    background-color: #74caff;
    color: white;
}
.block__render {
    background-color: #ffa0a0;
    color: white;
}
.block__default {
    background-color: white;
    color: black;
}
.function__render {
    background-color: white;
    color: var(--default-text-color);
}

.function__render > .Block-field > .drop-down >
.drop-down__toggle,
.function__render > .Block-field > .Block >
.Block-input:not(.Block-shelf__hover):not(:focus)
{
    outline: 0.1rem solid var(--default-outline-color);
}

.Block {
    position: relative;
}

.Block-field {
    width: fit-content;
}



.Block-shelf {
    border-radius: var(--radius);
    outline: 0.2rem solid white;
    display: flex;
    padding: var(--block-padding-vertical) var(--block-padding);
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition-duration: 0.1s;
    flex-wrap: wrap;
    outline-offset: -0.2rem;
    user-select: none;
}
.Block-shelf__hover {
    outline-color: rgba(0, 0, 0, 0.5);
}



.Block-prompt {
    font-size: var(--function-font-size);
}

.Block-input {
    font-size: var(--field-font-size);
    border: none;
    padding: var(--field-padding-vertical) var(--field-padding);
}
.Block-input__number {
    max-width: 5rem;
}
.Block-input:focus {
    outline-color: rgba(0, 0, 0, 0.5);
    outline-width: 0.2rem;
}
.Block-variable {
    font-size: var(--field-font-size);
    padding: var(--field-padding-vertical) var(--field-padding);
}



.Block-delete {
    position: absolute;
    opacity: 0;
    right: -0.5rem;
    top: -0.5rem;
    font-size: var(--field-font-size);
    
    color: white;
    background-color: #ffa0a0;
    border: none;
    border-radius: 50%;
    transition-duration: 0.1s;
    cursor: pointer;
    
    aspect-ratio: 1 / 1;
    
    user-select: none;
}
.Block-delete:hover {
    filter: brightness(0.9) saturate(150%);
}
.Block-delete__show {
    opacity: 1;
}
.Function__text {
    display: flex;
    font-size: var(--function-font-size);
}
.text__default {
    color: var(--default-text-color);
}
.Function__text__focus {
    outline-color: rgba(0, 0, 0, 0.5);
    outline-style: solid;
}