:root {
    --block-height: 3rem;
    --block-padding: 0.75rem;
    --block-padding-vertical: 0.75rem;
    --field-font-size: 1rem;
    /* --function-font-size: calc(var(--field-font-size) * 1.5); */
    --function-font-size: 1.5rem;

    --radius: 0.5rem;
    --section-title-height: 1.5rem;

    --default-border-color: rgb(200, 200, 200);
    --default-text-color: #757575
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

/* Delete Button */

.deleteButton {
    min-height: var(--block-height);
    font-size: var(--field-font-size);

    padding: var(--block-padding-vertical) var(--block-padding);
    margin: 0 2rem;

    color: white;
    background-color: #ffa0a0;
    border: none;
    border-radius: var(--radius);
    transition-duration: 0.1s;
    cursor: pointer;
}
.deleteButton:hover {
    filter: brightness(0.9) saturate(150%);
}

/* Drop Down */

.dropDown-toggle {
    min-height: var(--block-height);
    background-color: white;
    border-radius: var(--radius);
    padding: var(--block-padding-vertical) var(--block-padding);
    font-size: var(--field-font-size);
    border: none;
    cursor: pointer;
    transition-duration: 0.1s;
}
.dropDown-toggle__default {
    color: var(--default-text-color);
}

.dropDown-toggle:hover, .dropDown-toggle:focus {
    filter: brightness(0.95);
}

.dropDown-list {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: var(--radius);
    display: none;
    flex-direction: column;
    overflow: hidden;
    z-index: 100;
}
.dropDown-list__show {
    display: flex;
}

.dropDown-choice {
    min-height: var(--block-height);
    background-color: white;
    padding: var(--block-padding-vertical) var(--block-padding);
    font-size: var(--field-font-size);
    border: none;
    cursor: pointer;
    transition-duration: 0.1s;
}
.dropDown-choice:hover {
    filter: brightness(0.9) saturate(150%);
}



.hidden {
    display: none;
}

.block__variable {
    background-color: #9eb0ff;
    color: white;
}
.block__operation {
    background-color: #74caff;
    color: white;
}
.block__default {
    background-color: white;
    color: black;
}
.block__render {
    background-color: white;
    color: var(--default-text-color);
    outline: 0.1rem solid var(--default-border-color);
}










/* Sections */

.SectionsShelf {
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.Section {
    transition-duration: 0.5s;
}
.Section__transition {
    overflow: hidden;
}

.Section-area {
    min-height: 3rem;
    padding: 2rem;
    /* background-color: #ededed; */
    width: 100%;
    /* background-color: rgb(240, 240, 240); */
    background-color: white;
}

.SectionDropZone {
    width: 100%;
    height: 1rem;
    transition-duration: 0.5s;
}

.SectionDropZone__active {
    height: 5rem;
}

.Section-heading {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    min-height: var(--block-height);
}

.Section-title {
    font-size: var(--section-title-height);

    color: rgb(100, 100, 100);
    user-select: none;
}

.SectionsShelf-createSection {
    height: var(--block-height);
    width: 100%;
    padding: 10px 0;
    font-size: var(--section-title-height);
    color: white;
    background-color: #a0dbff;
    border: none;
    border-radius: var(--radius);
    transition-duration: 0.1s;
    cursor: pointer;
}

.SectionsShelf-createSection:hover {
    background-color: #74caff;
}

.Section-delete {
    opacity: 0;
}

.Section-area:hover .Section-delete {
    opacity: 1;
}





.Function {
    position: relative;
}

.FunctionsEditor {
    min-height: var(--block-height);
    background-color: white;
    border-radius: var(--radius);
    padding: 1rem;
    outline: 0.1rem solid var(--default-border-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Function-shelf {
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    gap: 0.5rem;
}

.FunctionsShelf-createFunction {
    position: relative;
}
.FunctionsShelf-createFunction .dropDown-list {
    width: 100%;
}
.FunctionsShelf-createFunction .dropDown-toggle {
    width: 100%;
    font-size: var(--function-font-size);
    outline: 0.1rem dashed var(--default-border-color);
    color: var(--default-text-color);
}
.Function-shelf__hover {
    outline-width: 0.2rem;
    outline-style: solid;
    outline-color: rgba(0, 0, 0, 0.5);
}






.block__render > .Block-field > .dropDown >
.dropDown-toggle,
.block__render > .Block-field > .Block >
.Block-input:not(.Block-shelf__hover)
{
    outline: 0.1rem solid var(--default-border-color);
}

.Block {
    position: relative;
}

.Block-field {
    width: fit-content;
}



.Block-shelf {
    min-height: var(--block-height);
    border-radius: var(--radius);
    outline: 0.2rem solid white;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition-duration: 0.1s;
    flex-wrap: wrap;
    outline-offset: -0.2rem;
}
.Block-shelf__hover {
    outline-color: rgba(0, 0, 0, 0.5);
}



.Block-prompt {
    font-size: var(--function-font-size);
}

.Block-input {
    font-size: var(--field-font-size);
    border: none;
    /* outline: none; */
    max-width: 7rem;
    padding: var(--block-padding-vertical) var(--block-padding);
}
.Block-input:focus {
    outline-color: rgba(0, 0, 0, 0.5);
}
.Block-variable {
    padding: var(--block-padding-vertical) var(--block-padding);
}



.Block-delete {
    position: absolute;
    opacity: 0;
    right: -0.5rem;
    top: -0.5rem;
    font-size: var(--field-font-size);

    color: white;
    background-color: #ffa0a0;
    border: none;
    border-radius: 50%;
    transition-duration: 0.1s;
    cursor: pointer;

    aspect-ratio: 1 / 1;
}
.Block-delete:hover {
    filter: brightness(0.9) saturate(150%);
}
.Block-delete__show {
    opacity: 1;
}