:root {
    --block-height: 3rem;
    --radius: 0.5rem;
    --section-title-height: 1.5rem;
    --button-text-size: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

/* Delete Button */

.deleteButton {
    font-size: var(--button-text-size);

    padding: 0.5rem 0.5rem;
    margin: 0 1rem;

    color: white;
    background-color: #ffa0a0;
    border: none;
    border-radius: var(--radius);
    transition-duration: 0.1s;
    cursor: pointer;
}
.deleteButton:hover {
    filter: brightness(0.9) saturate(150%);
}

/* Drop Down */

.dropDown-toggle {
    min-height: var(--block-height);
    background-color: white;
    border-radius: var(--radius);
    padding: 1rem;
    font-size: var(--button-text-size);
    border: none;
    cursor: pointer;
    transition-duration: 0.1s;
}
.dropDown-toggle__default {
    color: #757575;
}

.dropDown-toggle:hover, .dropDown-toggle:focus {
    filter: brightness(0.95);
}

.dropDown-list {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: var(--radius);
    display: none;
    flex-direction: column;
    overflow: hidden;
    z-index: 100;
}
.dropDown-list__show {
    display: flex;
}

.dropDown-choice {
    min-height: var(--block-height);
    background-color: white;
    padding: 1rem;
    font-size: var(--button-text-size);
    border: none;
    cursor: pointer;
    transition-duration: 0.1s;
}
.dropDown-choice:hover {
    filter: brightness(0.9) saturate(150%);
}



.hidden {
    display: none;
}










/* Sections */

.SectionsShelf {
    width: 100%;
}

.Section {
    transition-duration: 0.5s;
}

.Section-area {
    min-height: 3rem;
    padding: 2rem;
    /* background-color: #ededed; */
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.SectionDropZone {
    width: 100%;
    height: 1rem;
    background-color: rgb(200, 200, 200);
    transition-duration: 0.5s;
}

.SectionDropZone__active {
    height: 5rem;
}

.Section-heading {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.Section-title {
    font-size: var(--section-title-height);

    color: rgb(100, 100, 100);
    user-select: none;
}

.FunctionsShelf {
    min-height: var(--block-height);
    background-color: white;
    border-radius: var(--radius);
    padding: 1rem;
}

.SectionsShelf-createSection {
    height: var(--block-height);
    width: 100%;
    padding: 10px 0;
    font-size: var(--section-title-height);
    color: white;
    background-color: #a0dbff;
    border: none;
    border-radius: var(--radius);
    transition-duration: 0.1s;
    cursor: pointer;
}

.SectionsShelf-createSection:hover {
    background-color: #74caff;
}





.block__variable {
    /* background-color: #ff9e9e; */
    background-color: #9eb0ff;
    color: white;
}
.block__operation {
    background-color: #74caff;
    color: white;
}
.block__default {
    background-color: white;
    color: black;
}

.Block {
    position: relative;
    width: fit-content;
}



.Block-shelf {
    min-height: var(--block-height);
    border-radius: var(--radius);
    border: 0.2rem solid white;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    transition-duration: 0.1s;
}
.Block-shelf__hover {
    border-color: rgba(0, 0, 0, 0.5);
}



.Block-prompt {
    font-size: calc(var(--button-text-size) * 1.5);
    padding: 0 1rem;
}

.Block-input {
    font-size: var(--button-text-size);
    outline: none;
}
.Block-input:focus {
    border-color: rgba(0, 0, 0, 0.5);
}



.Block-delete {
    position: absolute;
    display: none;
    right: -0.5rem;
    top: -0.5rem;
    font-size: var(--button-text-size);

    color: white;
    background-color: #ffa0a0;
    border: none;
    border-radius: 50%;
    transition-duration: 0.1s;
    cursor: pointer;

    aspect-ratio: 1 / 1;
}
.Block-delete:hover {
    filter: brightness(0.9) saturate(150%);
}
.Block-delete__show {
    display: block;
}