<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link rel="stylesheet" href="../css/question.css">
    <script src="../js/question.js" type="module" defer></script>
</head>
<body>

    <div class="SectionsShelf">
        <!-- <div class="Section">
            <div class="Section-title">Step 1</div>
            <div class="FunctionsShelf"></div>
        </div> -->
    </div>

</body>
</html>