.theme__color--variable {
    background-color: #9eb0ff;
    color: white;
}
.theme__color--operation {
    background-color: #74caff;
    color: white;
}
.theme__color--render {
    background-color: #ffa0a0;
    color: white;
}
.theme__color--delete {
    background-color: #ffa0a0;
    color: white;
}
.theme__color--default {
    background-color: white;
    color: black;
}