@use "./_Boilerplate.styles.scss";

.theme__color--default {
    background-color: white;
    color: var(--default-text-color);
}
.theme__color--variable {
    background-color: #9eb0ff;
    color: white;
}
.theme__color--operation {
    background-color: #74caff;
    color: white;
}
.theme__color--render {
    background-color: #ffa0a0;
    color: white;
}
.theme__color--delete {
    background-color: #ffa0a0;
    color: white;
}
.theme__color--white {
    background-color: white;
    color: black;
}
.theme__outline--default {
    outline: 0.1rem solid var(--default-outline-color);
}
.theme__background--drop-down {
    background-color: rgb(240, 240, 240);
}