@use "../_Boilerplate.styles.scss";
@use "../_Themes.styles.scss";

.function {
    position: relative;
    width: fit-content;

    // &:has(.function__shelf.theme__color--operation) {
    //     width: 100%;
    // }

    &__sub-shelf {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    &--full-width {
        width: 100%;
    }

    &__shelf {
        border-radius: var(--radius);
        padding: var(--function-padding-vertical) var(--function-padding);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-between;
        gap: 0.5rem;
        user-select: none;

        &--hover, &--focus {
            outline-width: 0.2rem;
            outline-style: solid;
            outline-color: rgba(0, 0, 0, 0.5);
        }

        &.block--input {
            display: flex;
            justify-content: center;
            gap: 0;
            font-size: var(--function-font-size);
        }

        &.theme__color--default > .block__field > .drop-down >
        .drop-down__toggle,
        &.theme__color--default > .block__field > .block >
        .block--input:not(.block__shelf--hover):not(:focus)
        {
            outline: 0.1rem solid var(--default-outline-color);
        }
    }
}

.function-menu {
    background-color: white;
    border-radius: var(--radius);
    padding: 1rem;
    outline: 0.1rem solid var(--default-outline-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    
    &__shelf {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    &__create-function {
        position: relative;
        width: 100%;

        & .drop-down {
            &__list {
                width: 100%;
            }
            &__toggle {
                width: 100%;
                font-size: var(--function-font-size);
                color: var(--default-text-color);
                padding: var(--function-padding-vertical) var(--function-padding);
                line-height: calc(var(--function-font-size) + 1.5 * var(--field-padding-vertical));
            }
            &__choice {
                padding: var(--function-padding-vertical) var(--function-padding);
                line-height: calc(var(--function-font-size) + 1.5 * var(--field-padding-vertical));
                font-size: var(--function-font-size);
            }
        }
    }
}